<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/send.css') }}">
    <link rel="stylesheet" href="../static/styles/send.css">

    <title>{{data[0]}}</title>

</head>
<body>
    <center>
        <h1>{{data[0]}} - Adress-Buch</h1>
        <center><div class="buttons">
            <form action="/exit">
                <input class="button" type="submit" value="Beenden" />
            </form>
            &emsp;
            <form action="/send">
                <input class="button" type="submit" value="Zurück" />
            </form>
        </div></center>
        <p>IP: <b>{{data[1]}}</b></p>
        <br>
        {% if data[2] > 0 %}
            <h2>Statische IPs</h2>
            {% for text in textsStatic %}
                {{ text }}<br>
            {% endfor %}
        {% endif %}


        {% if data[3] > 0 %}
            <h2>Session-IPs</h2>
            {% for text in textsSession %}
                {{ text }}<br>
            {% endfor %}
        {% endif %}

    </center>

    <div id="empty"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
let reloadEmpfang = function(){
    setTimeout(function(){
        $.ajax({
            url: "/empty",
            type: "get",
            success: function(response) {
                $("#empty").html(response);
            },
            error: function(xhr) {
            //Do Something to handle error
            }
        });

        reloadEmpfang()
    },7000)
}

$.ajax({
    url: "/empty",
    type: "get",
    success: function(response) {
        $("#empty").html(response);
    },
    error: function(xhr) {
    //Do Something to handle error
    }
});
reloadEmpfang();
</script>
</body>
</html>