<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
</head>
<body>

    <form action="/test">

        <button type="submit" id="btn1" class="btn btn-primary btn-sm">check stat</button>

    </form>

    <div id="stat_content"></div>

    <h1>{title}</h1>
    <p>IP: <b>{localIP}</b></p>
    <br>
    <form action="/send" method="get">
        Name: <input type="text" name="name"><br>
    </form>

</body>
</html>