<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/send.css') }}">
    <link rel="stylesheet" href="../static/styles/send.css">

    <title>{{data[0]}}</title>
</head>
<body>
    <center>
        <h1>{{data[0]}}</h1>
    </center>
    <center><div class="buttons">
        <form action="#">
            <input class="button" onclick="clearEmpfang()" type="button" value="Empfang leeren" />
        </form>
        &emsp;
        <form action="/logout">
            <input class="button" type="submit" value="Ausloggen" />
        </form>
        &emsp;
        <form action="/addressBook">
            <input class="button" type="submit" value="Adress-Buch" />
        </form>
        &emsp;
        <form action="/exit">
            <input class="button" type="submit" value="Beenden" />
        </form>
        &emsp;
        <form action="/staticIP">
            <input class="button" type="submit" value="statische IP hinzufügen" />
        </form>
    </div></center>
    <input type="hidden" name="clear" value="false" id="clearValue">
    <div class="content">
        <div class="left">
                <h2>Infos</h2>
                IP: <i>{{data[1]}}</i>
                <br>
                Name: <i>{{data[2]}}</i>
                <br>
                {% if data[3] is defined %}
                    Ort: <i>{{data[3]}}</i>
                    <br>
                {% endif %}
                <h2>Sender</h2>
                <form id="sendForm" method="get" action="/send">
                    Empfänger: <input type="text" onchange="aktualisieren()" id="empfang" name="empfang" placeholder="Empfänger"><br>
                    Nachricht: <input type="text" onchange="aktualisieren()" id="nachricht" name="nachricht" placeholder="Nachricht" autocomplete="off"><br>
                    <input type="hidden" name="lastUpdate" id="lastUpdate"></input>
                    <button class="button"  onclick="submitEmpty()" >Bestätigen</button>
                </form>
        </div>
        <div class="middle"></div>
        <div class="right">
            <h2>Empfang</h2>
            <div id="place_for_empfang"></div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    </div>
    <br><br><br>
<script>

let clearEmpfang = function(){
    $.ajax({
            url: "/empfang",
            type: "get",
            data: {
                clear: "true",
            },
            success: function(response) {
                $("#place_for_empfang").html(response);
            },
            error: function(xhr) {
            //Do Something to handle error
            }
        });
}
let reloadEmpfang = function(){
    setTimeout(function(){
        $.ajax({
            url: "/empfang",
            type: "get",
            success: function(response) {
                $("#place_for_empfang").html(response);
            },
            error: function(xhr) {
            //Do Something to handle error
            }
        });

        reloadEmpfang()
    },2000)
}

$.ajax({
    url: "/empfang",
    type: "get",
    success: function(response) {
        $("#place_for_empfang").html(response);
    },
    error: function(xhr) {
    //Do Something to handle error
    }
});
reloadEmpfang();
</script>
</body>

<script>
    let aktualisieren = function(){
        document.getElementById("lastUpdate").value = Date.now()
    }

    let submitEmpty = function(){
        let empfang = document.getElementById("empfang").value;
        let nachricht = document.getElementById("nachricht").value;
        let lastUpdate = document.getElementById("lastUpdate").value;
        if(empfang != "" && nachricht != ""){
            let form = document.getElementById("sendForm");
            form.setAttribute("action", "/send")
            form.setAttribute("method", "post")
            form.submit();
            submit1();
        }
    }
</script>
</html>