<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get/Set Scroll Position of an Element</title>
    <style>
        #scrollDemo {
            height: 200px;
            width: 200px;
            overflow: auto;
            background-color: #f0db4f
        }

        #scrollDemo p {
            /* show the scrollbar */
            height: 300px;
            width: 300px;
        }
    </style>
</head>

<body>
    <div id="scrollDemo">
        <p>JavaScript scrollLeft / scrollTop</p>
    </div>
    <div class="output"></div>
    <button id="btnScrollLeft">Scroll Left</button>
    <button id="btnScrollTop">Scroll Top</button>
    <script>

        const scrollDemo = document.querySelector("#scrollDemo");
        const output = document.querySelector(".output");

        scrollDemo.addEventListener("scroll", (e) => {
            output.innerHTML = `scrollTop: ${scrollDemo.scrollTop} <br>
                                scrollLeft: ${scrollDemo.scrollLeft} `;
        }, { passive: true });

        const control = document.querySelector('#control');
        control.addEventListener('click', (e) => {
            switch (e.target.id) {
                case 'btnScrollLeft':
                    scrollDemo.scrollLeft += 20;
                    break;

                case 'btnScrollTop':
                    scrollDemo.scrollTop += 20;
                    break;
            }
        });


    </script>
</body>

</html>