body{
    background-color: rgb(54, 73, 78);
    color: rgb(40, 200, 211);
    font-family: 'Mochiy Pop P One', sans-serif;
    font-weight: bolder;
    font-size:x-large;
}

form>input[type="text"]{
    background-color: rgb(40, 200, 211);
    color: rgb(40, 80, 211);
    border-radius: 10px;
    padding-left: 10px;
    font-family: 'Mochiy Pop P One', sans-serif;
    width: 30%;
    height: 2em;
    font-weight: bolder;
    box-shadow: none;
    border: 1px solid rgb(40, 80, 211);
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    background-color: rgb(40, 200, 211);
    color: rgb(40, 80, 211);
    border: 1px solid rgb(40, 80, 211);
    -webkit-text-fill-color: rgb(40, 80, 211);
    -webkit-box-shadow: 0 0 0px 1000px #000 inset;
    transition: background-color 5000s ease-in-out 0s;
}


input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(40, 80, 211);
    /* font-size: large; */
    opacity: 1; /* Firefox */
    font-family: 'Mochiy Pop P One', sans-serif;
    font-weight: bolder;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}



.middle{
    order: 2;
    width: 2%;
}



.left{
    margin-left: 3%;
    order: 1;
    width: 44%;
    /* align-items: center; */
    text-align: right;
}

.right{
    margin-right: 3%;
    order: 2;
    width: 42%;}








h1{
    color: rgb(40, 200, 211);
    /* background: #232323; */
    text-shadow: 0 0 5px rgb(40, 200, 211), 0 0 20px #2850d3, 0 0 30px #2850d3, 0 0 40px #2850d3, 0 0 55px #2850d3, 0 0 75px #2850d3;
    color: rgb(40, 200, 211);
    /* background: #232323; */
}

.buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}



.buttons>form{
    order: 2S;
}

.button {
    background-color: rgb(40, 200, 211);
    border: none;
    color: rgb(40, 80, 211);
    /* padding: 15px 32px; */
    width: auto;
    font-weight: bolder;
    font-family: 'Mochiy Pop P One', sans-serif;
    /* height: 5%; */
    font-size: large;
    /* min-height: 200%; */
    border-radius: 10px;

    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.place_for_empfang{
    order: 1;
}

::-webkit-autofill{

    background-color: rgb(40, 200, 211);
    color: rgb(40, 80, 211);
}





::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(31, 153, 161);
    border-radius: 10px;
}



::-webkit-scrollbar-thumb:hover {
    background: rgb(21, 103, 109);

}